/* Interface Common */
    html, body {
        height: 100%;
        min-width: 320px;
        background: #aaa;
    }
    @media (max-width: 768px) {
        .container-fluid {
            padding-left: 8px;
            padding-right: 8px;
        }
    }
    .interface {
        position: relative;
        min-height: 100%;
        width: 100%;
        overflow: auto;
        background: #fff;
    }
    .interface__content {
        margin: 0 192px 0 0;
        width: 100%;
    }
    .interface__menu {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 100%;
        width: 192px;
        background: #aaa;
    }
    @media (min-width: 991px) {
        .interface__content {
            width: auto;
        }
        .interface__menu {
            left: auto;
            right: 0;
        }
    }

/* Interface Menu */
    .interface__menu {
    }
    .menuLink {
        margin-top: 8px;
        padding: 0;
        border-radius: 0 4px 4px 0;
    }
    .menuLink-labeled {
        position: relative;
        padding-right: 16px;
    }
    .menuLink__title {
        display: inline-block;
        padding: 8px 16px 8px 8px;
    }
    .menuLink__label {
        position: absolute;
        top: 0;
        height: 100%;
        width: 20px;
        right: 0;
        background: #ffcd4e;

        -ms-writing-mode: tb-lr; /* old syntax. IE */
        -webkit-writing-mode: vertical-lr;
        -moz-writing-mode: vertical-lr;
        -ms-writing-mode: vertical-lr;
        writing-mode: vertical-lr;
    }

/* Interface Login Page */
    .login {
        margin: 0 auto 64px;
        min-width: 312px;
        padding: 32px;
        width: 50%;
        background: white;
        border-radius: 0 0 4px 4px;
    }
    .login__form {
        margin: 32px 0 0;
    }
    .login__inputGroup {
        max-width: 240px;
        margin: 8px auto 0;
    }
    .login__btn {
        margin: 8px 0 0;
        width: 64px;
    }

/* Interface Entry Point Page */
    .entryPoint {
        position: relative;
        margin-bottom: 64px;
        padding: 0 8px 32px;
        background: white;
        border-radius: 0 0 4px 4px;
    }
    @media (max-width: 768px) {
        .entryPoint { margin: 0 8px 64px; }
    }
    .entryPoint__cell {
        margin-top: 8px;
    }
    .entryPoint__logout {
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -48px;
        width: 96px;
        border-radius: 0 0 4px 4px;
    }

/* Interface Valid Suppliers Page */
    .validSuppliers {}
    .validSuppliers .interface__table {
        margin-top: 32px;
    }

/* Interface Component: TABLE; */
    .interface__table {
        font-size: 14px;
    }
    .interface__table>tbody>tr>th,
    .interface__table>tbody>tr>td {
        line-height: 1;
        padding: 4px;
        vertical-align: middle;
        display: block;
    }
    .interface__table>tbody>tr>th:first-child,
    .interface__table>tbody>tr>td:first-child {
        display: table-cell;
    }
    .interface__table .col-narrow {
        width: 1%;
    }
    .interface__table .table-inner {
        display: block;
        padding: 8px 0;
    }
    .interface__table .col-inner {
        display: block;
        margin-top: 8px;
        padding: 0 8px;
        line-height: 1;
    }
    .interface__table .col-inner:first-child {
        margin-top: 0;
    }
    @media (min-width: 600px) {
        .interface__table>tbody>tr>th,
        .interface__table>tbody>tr>td {
            display: table-cell;
            height: 48px;
        }
    }
    .interface__table .word-breaks {
        display: inline-block;
        max-width: 96px;
        word-wrap: break-word;
    }
    .interface__table .btn {
        height: 32px;
        min-width: 64px;
    }


/* Interface HELPER Classes */
    /*.interface ._p0 { padding: 0; }*/

.xxx {
    width: 100%;
}
.xxx td {
    display: block;
}
.xxx td:first-child { display: table-cell; }
