

/* Interface Valid Suppliers Page */
    .validSuppliers {}
    .validSuppliers .interface__table {
        margin-top: 32px;
    }

/* Interface Component: TABLE; */
    .interface__table {
        font-size: 14px;
    }
    .interface__table>tbody>tr>th,
    .interface__table>tbody>tr>td {
        line-height: 1;
        padding: 4px;
        vertical-align: middle;
        display: block;
    }
    .interface__table>tbody>tr>th:first-child,
    .interface__table>tbody>tr>td:first-child {
        display: table-cell;
    }
    .interface__table .col-narrow {
        width: 1%;
    }
    .interface__table .table-inner {
        display: block;
        padding: 8px 0;
    }
    .interface__table .col-inner {
        display: block;
        margin-top: 8px;
        padding: 0 8px;
        line-height: 1;
    }
    .interface__table .col-inner:first-child {
        margin-top: 0;
    }
    @media (min-width: 600px) {
        .interface__table>tbody>tr>th,
        .interface__table>tbody>tr>td {
            display: table-cell;
            height: 48px;
        }
    }
    .interface__table .word-breaks {
        display: inline-block;
        max-width: 96px;
        word-wrap: break-word;
    }
    .interface__table .btn {
        height: 32px;
        min-width: 64px;
    }

